
.jumbotron {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.3)),url('http://xinfoz.com/images/home/Welcomeadmin.png');
    background-size: cover;
    background: contain;
    width: 100%; 
    height: 100%; 
    max-width:900px;  
    
}

.container{ 
    height: 81.8vh;
}
.jumbotron h1 {
    color: rgb(65, 85, 87);
}

@media only screen and (max-width: 370px) and (max-height: 640px) {

* {
    padding: 0;
    margin: 0;
}

.container {
   width: 100%;
   height: 79vh;
   
}

.jumbotron {
    width: 100%;
    
    height: 100vh;
    border-radius: 0px;
   margin-top: 0;
    
}
.jumbotron h1 {
    padding: 100px 0px 30px 0px;
}


}