<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" routerLink="/welcome">customer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <li>
              <a href="#" routerLink="/buy-coupon">buy coupons</a>
            </li>
            <li>
              <a href="#" routerLink= "/get-coupons"> coupons purchased by you</a>
            </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li> {{ custName }} </li>
          <li>
              <button id="logout" class="btn btn-default btn-sm" (click)="logout()">
                  Logout
                  <span class="glyphicon glyphicon-off"></span>
              </button>
          </li>
      </ul>
  </div>
</nav>